$mobile: 768px;

.login-signup-wrap {
  h2 {
    color: #f2f2f2;
    margin: 6px 0 15px 0;
    text-align: center;
    text-shadow: 0 1px 1px #7A2929;
  }
  p {
    color: #f2f2f2;
    font-size: 18px;
    margin: 0 0 25px 0;
    text-align: center;
    text-shadow: 0 1px 1px #7A2929;
  }
}

.signup,
.login {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -4px #000;
  margin: 0 auto 50px auto;
  padding: 30px;
  position: relative;
  min-height: 220px;
  transition: all .3s linear 0s;
  width: 30%;
  @media only screen and (max-width: $mobile) {
    width: 100%;
  }
  input {
    background: rgba(210, 74, 74, 0.5);
    border-radius: 0;
    border: none;
    color: #f2f2f2;
    display: block;
    font-size: 16px;
    margin: 0 auto 20px auto;
    padding: 10px;
    width: 100%;
  }
  label {
    display: block;
    color: #f2f2f2;
    text-align: center;
  }
  button {
    background: none;
    border: 1px solid #fff;
    box-shadow: 0 0 1px 0 #7c7c7c;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    outline: none;
    padding: 10px 10px;
    text-shadow: 1px 1px 1px #7c7c7c;
    width: 100%;
  }
  .btn-main {
    margin: 0 0 50px 0;
  }
}

.login ::placeholder, .signup ::placeholder {
  color: #f2f2f2;
}