.login-signup-wrap {
  margin: 60px 0 0 0;
  text-shadow: 1px 1px 1px #000;
}
.login-signup-wrap h2 {
  color: #f2f2f2;
  margin: 6px 0 15px 0;
  text-align: center;
}
.login-signup-wrap p {
  color: #f2f2f2;
  font-size: 18px;
  margin: 0 0 25px 0;
  text-align: center;
}
.signup,
.login {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -4px #000;
  margin: 0 auto 50px auto;
  padding: 30px;
  position: relative;
  transition: all 0.3s linear 0s;
  width: 40%;
}
.signup input,
.login input {
  background: rgba(210, 74, 74, 0.5);
  border: none;
  color: #f2f2f2;
  font-size: 16px;
  margin: 0 auto 20px auto;
  padding: 10px;
  transition: box-shadow 0.3s linear 0s;
  width: 100%;
}
.signup input:hover,
.login input:hover {
  box-shadow: 0 0 1px 1px #fff;
}
.signup label,
.login label {
  display: block;
  color: #f2f2f2;
  text-align: center;
}
.signup button,
.login button {
  background: none;
  border: 1px solid #fff;
  box-shadow: 0 0 1px 0 #7c7c7c;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
  outline: none;
  padding: 10px 10px;
  text-shadow: 1px 1px 1px #7c7c7c;
  transition: box-shadow 0.3s linear 0s;
  width: 100%;
}
.signup button:hover,
.login button:hover {
  box-shadow: 0 0 1px 1px #fff;
}
.login ::placeholder,
.signup ::placeholder {
  color: #f2f2f2;
}
.switch-auth {
  margin: 50px auto 0 auto;
}
.tech-removed {
  text-decoration: line-through;
}
@media only screen and (max-width: 768px) {
  .signup,
  .login {
    width: 100%;
  }
}
