.weatherMain {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  z-index: 9;
}
.weatherMain .hold {
  align-items: flex-start;
  color: #fff;
  display: flex;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .weatherMain .hold {
    display: block;
 }
}
.weatherMain .weatherLeft {
  background: rgba(0, 0, 0, .4);
  box-shadow: 0px 0px 10px -4px #000;
  overflow: hidden;
  padding: 15px;
  position: relative;
  width: 75%;
}
@media only screen and (max-width: 768px) {
  .weatherMain .weatherLeft {
    margin: 0 0 25px 0;
    width: 100%;
 }
}
.weatherMain .weatherLeft .weatherAbove {
  position: relative;
  text-shadow: 1px 1px 1px #000;
}
.weatherMain .weatherLeft .weatherAbove .active {
  opacity: 1;
}
.weatherMain .weatherRight {
  width: 25%;
}
@media only screen and (max-width: 768px) {
  .weatherMain .weatherRight {
    width: 100%;
 }
}