.weatherForm {
  font-size: 16px;
  position: relative;
  width: 100%;
}
.weatherForm input {
  border: 1px solid #fff;
  font-size: 14px;
  outline: none;
  padding: 10px 10px;
}
.weatherForm input[type=text] {
  width: 60%;
  box-shadow: 0 0 1px 0 #6b6a6a;
}
@media only screen and (max-width: 768px) {
  .weatherForm input[type=text] {
    margin: 0 0 20px 0;
    width: 100%;
 }
}
.weatherForm input[type=submit] {
  background: none;
  box-shadow: 0 0 1px 0 #7c7c7c;
  color: #fff;
  cursor: pointer;
  margin: 0 0 0 15px;
  text-shadow: 0 1px 1px #7a2929;
}
.weatherForm input[type=submit]:hover {
  box-shadow: 0 0 1px 0 #4c4c4c;
}
@media only screen and (max-width: 768px) {
  .weatherForm input[type=submit] {
    margin: 0;
    width: 100%;
 }
}
.resetButton {
  margin: 0;
}
.resetButton p {
  display: inline;
  margin: 0 10px 0 0;
}
.resetButton button {
  background: none;
  border: 1px solid #fff;
  box-shadow: 0 0 1px 1px #4c4c4c;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin: 0 0 15px 0;
  outline: none;
  padding: 10px;
  text-shadow: 1px 1px 1px #000;
}