.weatherItems {
  height: 0;
  opacity: 0;
  transform: translateY(-15%);
  transition: all 0.2s linear 0s;
  width: 100%;
}
.weatherItems .weatherItem {
  border-bottom: 1px solid #f2f2f2;
  padding: 0 0 2px 0;
  position: relative;
}
.weatherItems .weatherItem h3 {
  margin: 0 0 13px 0;
}
.weatherItems .weatherItem p {
  margin: 0 25px 13px 0;
}
.showItems {
  height: 103px;
  opacity: 1;
  transform: translate(0);
  transition: height 500ms ease-in-out, opacity 500ms ease-in-out;
}
.hideItems {
  height: 0;
  opacity: 0;
  transform: translateY(-15%);
  transition: height 500ms ease-in-out, opacity 500ms ease-in-out;
}